<% if @user.errors.any? %>
  <h5 class="error"><%= @user.errors.full_messages.to_sentence %></h5>
<% end %>

<%= form_for @user do |f| %>
  <div class=form-group>
    <%= f.label :first_name %>:
    <%= f.text_field :first_name, autofocus: true %><br />

    <%= f.label :last_name %>:
    <%= f.text_field :last_name %><br />
  </div>
  <div class="form-group">
    <%= f.label :email %>:
    <%= f.email_field :email, autocomplete: "email" %><br />
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <%= f.label :username %>:
    <%= f.text_field :username %><br />

    <%= f.label :password %>:
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation %><br />
  </div>
  <button type="button" class="btn btn-secondary">
  <%= f.submit %></button>
</div>

<% end %>