<% @females.each do |animal| %>
  <p> Name: <%= animal.name %></p>
  <p>Gender: <%= animal.gender %></p>
  <p>Altered: <%= animal.altered %></p>
<% end %>

<% @males.each do |animal| %>
  <p> Name: <%= animal.name %></p>
  <p>Gender: <%= animal.gender %></p>
  <p>Altered: <%= animal.altered %></p>
<% end %>