<h1>Animals Index</h1>
<%= @user_animals.each do |animal| %>
  <h2>Animals Name: <%= @animal.name %></h2>
  <h2>Animals Age: <%= @animal.age %></h2>
  <h2>Animals Gender: <%= @animal.gender %></h2>
  <h2>Animals Weight: <%= @animal.weight %></h2>
  <h2>Animals Species: <%= @animal.species %></h2>
  <h2>Animals Breed: <%= @animal.breed %></h2>
  <h2>Animals Color: <%= @animal.color %></h2>
  <h2>Animals Medical_info: <%= @animal.medical_info %></h2>
  <h2>Animals Altered: <%= @animal.altered %></h2>
<% end %>