<div class="text-center">
  <h1>Logged in as: <%= current_user.email %></h1>
</div>

<div class="text-center">

  <p>Animals Name: <%= @animal.name %></p>
  <p>Animals Age: <%= @animal.age %></p>
  <p>Animals Gender: <%= @animal.gender %></p>
  <p>Animals Weight: <%= @animal.weight %></p>
  <p>Animals Species: <%= @animal.species %></p>
  <p>Animals Breed: <%= @animal.breed %></p>
  <p>Animals Color: <%= @animal.color %></p>
  <p>Animals Medical_info: <%= @animal.medical_info %></p>
  <p>Altered: <%= @animal.altered %></p>
  
</div>

<div class="text-center">

  <div class="btn btn-dark disabled">
    <button type="button" class="btn btn-secondary"><%= link_to "Edit this Animal", edit_animal_path(@animal) %></button>
  </div>

  <div class="btn btn-dark disabled">
    <button type="button" class="btn btn-secondary"><%= link_to "Add Another Animal", new_animal_path %></button>
  </div>
  
  <div class="btn btn-dark disabled">
    <button type="button" class="btn btn-secondary"><%= link_to "Show all animals", user_path(current_user) %></button>
  </div>

</div>

<div class="text-center">

  <h2> Location This Animal Visits:</h2>
    <% @animal.companies.each do |company| %>
      <strong><%= company.location %></strong>
      <p>
        <%= company.address %>,
        <%= company.city %>,
        <%= company.state %>
      </p>
      <p>
        <%= company.phone_number %>
      </p>
    <% end %>
    
    <button><%= link_to "Gender Show", gender_path %></button>
</div>