
<h1>Hello <%= current_user.full_name %></h1>

  <p>Animals Name: <%= @animal.name %></p>
  <p>Animals Age: <%= @animal.age %></p>
  <p>Animals Gender: <%= @animal.gender %></p>
  <p>Animals Weight: <%= @animal.weight %></p>
  <p>Animals Species: <%= @animal.species %></p>
  <p>Animals Breed: <%= @animal.breed %></p>
  <p>Animals Color: <%= @animal.color %></p>
  <p>Animals Medical_info: <%= @animal.medical_info %></p>
  <p>Altered: <%= @animal.altered %></p>
  <h2>Would you like to edit this animal?</h2>
  <button><%= link_to "Edit this Animal", edit_animal_path(@animal) %></button>
  <h2>Would you like to add another animal?</h2>
  <button><%= link_to "Add Another Animal", new_animal_path %></button>

  <h2>Would you like to see all of your animals?</h2>
  <button><%= link_to "Show all animals", user_path(current_user) %></button>
  <br />


<div class="companies_animals">
<h2> Companies this user is associated with</h2>
  <% @animal.companies.each do |company| %>
    <%= company.location %>
    <%= company.phone_number %>
  <% end %>
</div>