<h2>Animal Associations Contact Info:</h2>

<% @company.each do |f| %>
    <h3><%= f.location %></h3>
    <p><%= f.address %></p>
    <p><%= f.city %>, <%= f.state %></p>
    <p><%= f.phone_number%></p>
    
<% end %>