
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <a class="navbar-brand" href="/">Animal Associations</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_animals_path(current_user) %>">List Animals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= animal_path(current_user) %>">All Animals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_animal_path(current_user) %>">New Animal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= logout_path %>">Logout</a>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= login_path %>">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= signup_path %>">Signup!</a>
          </li>
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/auth/google_oauth2">Google Signin!</a>
              <a class="dropdown-item" href="<%= signup_path %>">Sign Up! action</a>
              <a class="dropdown-item" href="<%= login_path %>">Login!</a>
            </div>
          </div>
          <% end %>

          <li class="nav-item">
            <a class="nav-link" href="<%= contact_path %>">Contact us</a>
          </li>
          
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>
