<!DOCTYPE html>
<html>
  <head>
    <title>Finally Animals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    
    <br />
      <footer class="branding">
      
      <% if logged_in? %>
      <br />
          <h4>Logged in: <%= current_user.name.capitalize %>!</h4>      
          <button><a href="/logout">Log Out</a></button>
          <button><a href="/index">Home</a></button>
          
      <% else !logged_in? %>
          <button><a href="/login">Log In</a></button>
          <button><a href="/signup">Sign Up!</a></button>
      <% end %>
        <br />
        <br />
        <small>&copy; 2020 <strong>Animal Association</strong></small>
      </footer>
  </body>
</html>
