<!DOCTYPE html>
<html>
  <head>
    <title>Finally Animals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%#= javascript_include_tag :defaults %>
  </head>

  <body>
    <%#= render "layouts/navigation" %>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>
    
    <br />
      <footer class="branding">
      
      <% if logged_in? %>
      <br />
          <h4>Logged in: <%= current_user.full_name %>!</h4>      
          <button><a href="/logout">Log Out</a></button>
          <button><a href="/">Home</a></button><br />
          <button><%= link_to "List Animals", user_animals_path(current_user) %></button>
          <button><%= link_to "New Animal", new_animal_path %></button><br />
      <% else !logged_in? %>
          <button><a href="/login">Log In</a></button>
          <button><a href="/signup">Sign Up!</a></button>
      <% end %>
        <br />
        <br />
        <small>&copy; 2020 <strong>Animal Association</strong></small>
      </footer>
      
  </body>
  <%# Javascript function for omniauth %>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
       appId      : '{1264548960580784}',
       cookie     : true,
       xfbml      : true,
       version    : '{v8.0}'
      });
      
     FB.AppEvents.logPageView();   
      
    };

    (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</html>
